<div class="sub-form">
    <div class="d-flex flex-column">
        <input type="text" class="form-control mb-3" placeholder="Enter an email" [(ngModel)]="email">
        <input type="password" class="form-control mb-3" placeholder="Enter a password" [(ngModel)]="password">
        <button class="btn btn-primary mb-3 bg-success" (click)="login()">Log in</button>
        <span>Don't have an account? <a class="text-decoration-none text-success link" routerLink="/signup">Create one</a></span>
    </div>
</div>