.chat-dropdown{
    background-color: rgb(53, 48, 48);
    position: absolute;
    z-index: 999;
    right: -30px;

    ul {
        padding: 0;

            li{
            list-style: none;
            padding: 10px 30px 5px 10px;
            border: 1px solid gray;
    }
}
}