<div class="container-fluid m-0 p-0 w-100">
  <div class="p-3">
    <div #nav class="row w-100 d-flex justify-content-center m-0 p-0">
      <div class="col-md-4 border border-dark d-flex bg-dark p-2 justify-content-center align-items-center text-white" #profile>
          <div #dp class="col-md-6 dp text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/9607/9607380.png" alt="user" width="40">
          </div>
          <div class="col-md-6 ms-2" style="padding-left: 10px;">Saksham Koul</div>
      </div>
      <div class="bg-dark col-md-4 text-white d-flex justify-content-evenly align-items-center">
        <span>Call</span>
        <span>Video Call</span>
        <span>Options</span>
      </div>
    </div>
    <div class="row w-100 justify-content-center text-center d-flex">
      <div class="col-md-8 border border-dark chat-bg">
        <div class="col-md-12">
          <div class="w-25 float-end m-2" style="background-color: white;">
            <span class="text-dark">hey a test message!</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>