.dp {
    border-radius: 50px;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.chat-bg{
    background: url("https://images.unsplash.com/photo-1546788774-2bb47f590283?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
    background-repeat: no-repeat;
    background-size: cover;

}

.chat-body{
    height: 450px;
}